interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://alpharatio.cc/torrents.php?action=getqueue
  response:
    content: '{"status":"success","response":[{"TorrentID":"1","Category":"test","FreeLeech":"0","TimeAdded":"2023-03-18 22:03:29"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://alpharatio.cc/torrents.php?action=download&id=1
  response:
    content: "d8:announce76:createdby13:mktorrent 1.113:privatei1e6:source10:AlphaRatioee"
    headers:
      content-disposition:
      - attachment; filename="test1.torrent"
      content-type:
      - application/x-bittorrent; charset=utf-8
    status_code: 200
version: 1
